@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@font-face {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    font-display: swap;
    src: url('../fonts/roboto-flex/roboto-flex-cyrillic.woff2') format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    font-display: swap;
    src: url('../fonts/roboto-flex/roboto-flex-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@source inline('wght-{100..900..100}');
@source inline('wdth-{25..150..5}');

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Roboto Flex', 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-brand-green: #0f6a24;
    --color-brand-red: #ea0005;
    --color-brand-gray: #a1a1a1;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@utility wght-100 {
    font-weight: 100;
}

@utility wght-200 {
    font-weight: 200;
}

@utility wght-300 {
    font-weight: 300;
}

@utility wght-400 {
    font-weight: 400;
}

@utility wght-500 {
    font-weight: 500;
}

@utility wght-600 {
    font-weight: 600;
}

@utility wght-700 {
    font-weight: 700;
}

@utility wght-800 {
    font-weight: 800;
}

@utility wght-900 {
    font-weight: 900;
}

@utility wdth-25 {
    font-stretch: 25%;
}

@utility wdth-30 {
    font-stretch: 30%;
}

@utility wdth-35 {
    font-stretch: 35%;
}

@utility wdth-40 {
    font-stretch: 40%;
}

@utility wdth-45 {
    font-stretch: 45%;
}

@utility wdth-50 {
    font-stretch: 50%;
}

@utility wdth-55 {
    font-stretch: 55%;
}

@utility wdth-60 {
    font-stretch: 60%;
}

@utility wdth-65 {
    font-stretch: 65%;
}

@utility wdth-70 {
    font-stretch: 70%;
}

@utility wdth-75 {
    font-stretch: 75%;
}

@utility wdth-80 {
    font-stretch: 80%;
}

@utility wdth-85 {
    font-stretch: 85%;
}

@utility wdth-90 {
    font-stretch: 90%;
}

@utility wdth-95 {
    font-stretch: 95%;
}

@utility wdth-100 {
    font-stretch: 100%;
}

@utility wdth-105 {
    font-stretch: 105%;
}

@utility wdth-110 {
    font-stretch: 110%;
}

@utility wdth-115 {
    font-stretch: 115%;
}

@utility wdth-120 {
    font-stretch: 120%;
}

@utility wdth-125 {
    font-stretch: 125%;
}

@utility wdth-130 {
    font-stretch: 130%;
}

@utility wdth-135 {
    font-stretch: 135%;
}

@utility wdth-140 {
    font-stretch: 140%;
}

@utility wdth-145 {
    font-stretch: 145%;
}

@utility wdth-150 {
    font-stretch: 150%;
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    html {
        font-stretch: 25%;
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
