@import "tailwindcss";
@import "../../vendor/filament/support/resources/css/index.css";
@import "../../vendor/livewire/flux/dist/flux.css";
@import "tippy.js/dist/tippy.css";
@import "tippy.js/animations/shift-away-subtle.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/thumbs";
@import "swiper/css/free-mode";

[x-cloak] {
    display: none !important;
}

@font-face {
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    font-display: swap;
    src: url("../fonts/roboto-flex/roboto-flex-cyrillic.woff2") format("woff2");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    font-display: swap;
    src: url("../fonts/roboto-flex/roboto-flex-latin.woff2") format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
        U+2212, U+2215, U+FEFF, U+FFFD;
}

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@source inline('wght-{100..900..100}');
@source inline('wdth-{25..150..5}');
@source inline('text-xs text-sm text-base text-lg text-xl text-2xl text-3xl text-4xl text-5xl text-6xl text-7xl text-8xl text-9xl');

@custom-variant dark (&:where(.dark, .dark *));

@plugin "tailwind-scrollbar" {
    preferredstrategy: "pseudoelements";
    nocompatible: true;
}

@theme {
    --font-sans:
        "Roboto Flex", "Roboto", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-brand-green: #0f6a24;
    --color-brand-red: #ea0005;
    --color-brand-gray: #a1a1a1;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);

    --breakpoint-xs: 480px;
}

@utility wght-100 {
    font-weight: 100;
}

@utility wght-200 {
    font-weight: 200;
}

@utility wght-300 {
    font-weight: 300;
}

@utility wght-400 {
    font-weight: 400;
}

@utility wght-500 {
    font-weight: 500;
}

@utility wght-600 {
    font-weight: 600;
}

@utility wght-700 {
    font-weight: 700;
}

@utility wght-800 {
    font-weight: 800;
}

@utility wght-900 {
    font-weight: 900;
}

@utility wdth-25 {
    font-stretch: 25%;
}

@utility wdth-30 {
    font-stretch: 30%;
}

@utility wdth-35 {
    font-stretch: 35%;
}

@utility wdth-40 {
    font-stretch: 40%;
}

@utility wdth-45 {
    font-stretch: 45%;
}

@utility wdth-50 {
    font-stretch: 50%;
}

@utility wdth-55 {
    font-stretch: 55%;
}

@utility wdth-60 {
    font-stretch: 60%;
}

@utility wdth-65 {
    font-stretch: 65%;
}

@utility wdth-70 {
    font-stretch: 70%;
}

@utility wdth-75 {
    font-stretch: 75%;
}

@utility wdth-80 {
    font-stretch: 80%;
}

@utility wdth-85 {
    font-stretch: 85%;
}

@utility wdth-90 {
    font-stretch: 90%;
}

@utility wdth-95 {
    font-stretch: 95%;
}

@utility wdth-100 {
    font-stretch: 100%;
}

@utility wdth-105 {
    font-stretch: 105%;
}

@utility wdth-110 {
    font-stretch: 110%;
}

@utility wdth-115 {
    font-stretch: 115%;
}

@utility wdth-120 {
    font-stretch: 120%;
}

@utility wdth-125 {
    font-stretch: 125%;
}

@utility wdth-130 {
    font-stretch: 130%;
}

@utility wdth-135 {
    font-stretch: 135%;
}

@utility wdth-140 {
    font-stretch: 140%;
}

@utility wdth-145 {
    font-stretch: 145%;
}

@utility wdth-150 {
    font-stretch: 150%;
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    html {
        font-stretch: 25%;
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

:root {
    --ks-tooltip-bg: rgba(89, 89, 89, 0.9);
}
/* тема */
.tippy-box[data-theme~="ks"] {
    background-color: var(--ks-tooltip-bg); /* #162c4d с 80% прозрачностью */
    @apply text-white shadow-lg;
    border-radius: 0;
}

.tippy-box[data-theme~="ks"] .tippy-content {
    @apply px-3 py-2 text-sm;
}

/* светлая тема для больших многострочных тултипов */
.tippy-box[data-theme~="ks-light"] {
    @apply bg-white text-zinc-900 shadow-lg ring-1 ring-black/5;
    border-radius: 0;
}

.tippy-box[data-theme~="ks-light"] .tippy-content {
    @apply p-4 text-sm;
}

/* цвет стрелки через ::before */
.tippy-box[data-theme~="ks"][data-placement^="top"] > .tippy-arrow::before {
    border-top-color: var(--ks-tooltip-bg);
}
.tippy-box[data-theme~="ks"][data-placement^="bottom"] > .tippy-arrow::before {
    border-bottom-color: var(--ks-tooltip-bg);
}
.tippy-box[data-theme~="ks"][data-placement^="left"] > .tippy-arrow::before {
    border-left-color: var(--ks-tooltip-bg);
}
.tippy-box[data-theme~="ks"][data-placement^="right"] > .tippy-arrow::before {
    border-right-color: var(--ks-tooltip-bg);
}

/* цвет стрелки для светлой темы */
.tippy-box[data-theme~="ks-light"][data-placement^="top"]
    > .tippy-arrow::before {
    border-top-color: #fff;
}
.tippy-box[data-theme~="ks-light"][data-placement^="bottom"]
    > .tippy-arrow::before {
    border-bottom-color: #fff;
}
.tippy-box[data-theme~="ks-light"][data-placement^="left"]
    > .tippy-arrow::before {
    border-left-color: #fff;
}
.tippy-box[data-theme~="ks-light"][data-placement^="right"]
    > .tippy-arrow::before {
    border-right-color: #fff;
}

.static-page .video {
    @apply max-w-7xl mx-auto px-2 aspect-video shadow-xl;
}

.static-page .video iframe {
    @apply w-full h-full border border-brand-green;
}

.static-page .map {
    @apply max-w-7xl mx-auto px-2 shadow-xl;
    height: 450px;
}

.static-page .map iframe {
    @apply w-full h-full border border-brand-green;
}

.static-page .map.map--left {
    @apply ml-0 mr-auto;
}

.static-page .map.map--center {
    @apply mx-auto;
}

.static-page .video.video--left {
    @apply ml-0 mr-auto;
}

.static-page .video.video--center {
    @apply mx-auto;
}

.static-page .fi-prose p {
    @apply text-base leading-relaxed sm:text-lg;
}

.static-page .fi-prose .lead {
    @apply text-lg leading-relaxed sm:text-xl;
}

.static-page .fi-prose .lead :where(p, li) {
    @apply text-lg leading-relaxed sm:text-xl;
}

.static-page .fi-prose ul {
    @apply marker:text-brand-red marker:text-xl;
}

.static-page .fi-prose ul li {
    @apply text-base leading-relaxed sm:text-lg;
}

.static-page .fi-prose table {
    @apply w-full border-collapse text-left;
}

.static-page .fi-prose th,
.static-page .fi-prose td {
    @apply border border-brand-green px-4 py-3 align-top;
}

.static-page .fi-prose table tr:first-child > * {
    @apply border-t-0;
}

.static-page .fi-prose table tr:last-child > * {
    @apply border-b-0;
}

.static-page .fi-prose table tr > :first-child {
    @apply border-l-0;
}

.static-page .fi-prose table tr > :last-child {
    @apply border-r-0;
}

.static-page .fi-prose thead th {
    @apply font-semibold;
}

.static-page .fi-prose tbody tr:hover > * {
    @apply bg-brand-gray/30;
}

.static-page .fi-prose a {
    @apply underline underline-offset-2 decoration-brand-red wght-400;
}

.static-page .fi-prose a:hover {
    @apply decoration-brand-red/70;
}

.static-page .fi-prose a::after {
    content: "";
    @apply inline-block align-middle ms-1 size-3 opacity-70;

    background-color: currentColor;

    /* heroicons: arrow-top-right-on-square (можешь заменить на любую svg) */
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13.5 6H18m0 0v4.5M18 6l-7.5 7.5M10.5 6H9A3 3 0 006 9v9a3 3 0 003 3h9a3 3 0 003-3v-1.5'/%3E%3C/svg%3E")
        no-repeat center / contain;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13.5 6H18m0 0v4.5M18 6l-7.5 7.5M10.5 6H9A3 3 0 006 9v9a3 3 0 003 3h9a3 3 0 003-3v-1.5'/%3E%3C/svg%3E")
        no-repeat center / contain;
}

@layer components {
    .image-gallery {
        @apply grid gap-3 max-w-4xl mx-auto;
        --swiper-navigation-color: #ea0005;
    }

    .image-gallery.image-gallery--left {
        @apply ml-0 mr-auto;
    }

    .image-gallery.image-gallery--center {
        @apply mx-auto;
    }

    .image-gallery .swiper {
        @apply w-full;
    }

    .image-gallery__main {
        @apply h-96 sm:h-128  shadow border border-brand-green;
    }

    .image-gallery__thumbs {
        @apply h-20 sm:h-36;
    }

    .image-gallery__thumbs .swiper-slide {
        @apply opacity-50;
    }

    .image-gallery__thumbs .swiper-slide-thumb-active {
        @apply opacity-100;
    }

    .image-gallery a {
        @apply block h-full w-full;
    }

    .image-gallery img {
        @apply h-full w-full object-cover;
    }

    .hero-slider {
        @apply relative w-full overflow-hidden;
        --swiper-navigation-color: #ea0005;
    }

    .hero-slider .swiper-slide {
        @apply w-full;
    }

    .hero-slider__slide {
        @apply block w-full h-full;
    }

    .hero-slider__slide img {
        @apply w-full h-full object-cover;
    }
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
